<c:grid-row>
  <c:grid-col col="12-sm 5-md">
    <c:card>
      <c:card-body>
        <c:form button reset-validation referer>
          <c:form-input name="username" label-floating wrapper-margin="bottom-2" />
          <c:form-password name="password" label-floating wrapper-margin="bottom-2" />
          <c:form-password name="verifyPassword" label-floating wrapper-margin="bottom-2" />
        </c:form>
      </c:card-body>
    </c:card>
  </c:grid-col>
  <c:grid-col col="12-sm 7-md">
  </c:grid-col>
</c:grid-row>
