<c:form button reset-validation referer>
  <c:form-input name="username" label-floating wrapper-margin="bottom-2" />
  <c:form-password name="password" label-floating wrapper-margin="bottom-3" />
</c:form>
<% if (!page.noLinks) { %>
<c:list type="unstyled" margin="start-3">
  <c:include resource="sumba.partial:/list-item/forgot-password.html" />
  <c:include resource="sumba.partial:/list-item/user-signup.html" />
  <c:include resource="sumba.partial:/list-item/goto-home.html" />
</c:list>
<% } %>