<c:grid-row gutter="4">
  <c:grid-col col="8-md">
    <c:fieldset t:legend="meta" grid-gutter="2" margin="bottom-3">
      <c:form-plaintext name="createdAt" label-floating col="6-md"/>
      <c:form-plaintext name="updatedAt" label-floating col="6-md"/>
    </c:fieldset>
    <c:fieldset t:legend="account" grid-gutter="2" margin="bottom-3">
      <c:form-plaintext name="username" label-floating col="6-lg"/>
      <c:form-plaintext name="email" label-floating col="6-lg"/>
      <c:form-plaintext name="firstName" label-floating col="6-lg"/>
      <c:form-plaintext name="lastName" label-floating col="6-lg"/>
    </c:fieldset>
    <c:fieldset t:legend="address" grid-gutter="2">
      <c:form-plaintext name="address1" label-floating col="12"/>
      <c:form-plaintext name="address2" label-floating col="12"/>
      <c:form-plaintext name="city" label-floating col="8-lg 7-md"/>
      <c:form-plaintext name="zipCode" label-floating col="4-lg 5-md"/>
      <c:form-plaintext name="provinceState" label-floating col="6-lg"/>
      <c:form-plaintext name="country" label-floating col="6-lg"/>
      <c:form-plaintext name="phone" label-floating col="6-lg"/>
      <c:form-plaintext name="website" label-floating col="6-lg"/>
    </c:fieldset>
  </c:grid-col>
  <c:grid-col col="4-md">
    <c:heading type="5" t:content="image" />
    <c:img src="dobo:/attachment/SumbaUser/<%= form.id %>/profile/main.png" responsive rounded />
    <c:heading type="5" t:content="more" margin="top-3" />
    <c:list type="group" hover>
      <c:list-item href="sumba:/my-stuff/profile/edit" t:content="updateProfile" />
      <c:list-item t:content="displayApiKey" target="api-key-modal"/>
    </c:list>
    <!-- include sumba.partial:/api-key-modal.html -->
  </c:grid-col>
</c:grid-row>
