---
t:title: New User Signup
---
<c:form button reset-validation referer grid-gutter="2">
  <c:form-input name="username" label-floating />
  <c:form-password name="password" col="6-lg" label-floating />
  <c:form-password name="verifyPassword" col="6-lg" label-floating />
  <c:form-input type="email" name="email" label-floating />
  <c:form-input name="firstName" col="6-lg" label-floating />
  <c:form-input name="lastName" col="6-lg" label-floating />
  <c:form-check name="agree" col="12" value="true" t:label="I agree to the <a href='../info/terms-conditions'>Terms and Conditions</a>" />
</c:form>
<% if (!page.noLinks) { %>
<c:list type="unstyled" margin="start-3">
  <c:include resource="sumba.partial:/list-item/forgot-password.html" />
  <c:include resource="sumba.partial:/list-item/signin.html" />
  <c:include resource="sumba.partial:/list-item/goto-home.html" />
</c:list>
<% } %>