---
t:title: Contact Form
---
<c:form button reset-validation referer grid-gutter="2">
  <c:form-input name="firstName" col="6-lg" label-floating <%= _meta.user ? 'readonly' : '' %> />
  <c:form-input name="lastName" col="6-lg" label-floating <%= _meta.user ? 'readonly' : '' %> />
  <c:form-input type="email" col="6-lg" name="email" label-floating <%= _meta.user ? 'readonly' : '' %> />
  <c:form-select name="category" col="6-lg" label-floating>
    <c:option value="QUESTION" t:content="Question" />
    <c:option value="INQUIRY" t:content="Inquiry" />
    <c:option value="BILLING" t:content="Billing" />
    <c:option value="API" t:content="API Integration" />
    <c:option value="MISC" t:content="Misc" />
  </c:form-select>
  <c:form-input name="subject" label-floating />
  <c:form-textarea name="message" label-floating style="height:10em"/>
</c:form>
