<% if (_meta.site.socX) { %><c:a target="_blank" href="https://x.com/<%= _meta.site.socX %>" icon="logoX" /><% } %>
<% if (_meta.site.socFacebook) { %><c:a target="_blank" href="https://www.facebook.com/<%= _meta.site.socFacebook %>/" icon="logoFacebook" /><% } %>
<% if (_meta.site.socInstagram) { %><c:a target="_blank" href="https://www.instagram.com/<%= _meta.site.socInstagram %>/" icon="logoInstagram" /><% } %>
<% if (_meta.site.socLinkedIn) { %><c:a target="_blank" href="https://www.linkedin.com/company/<%= _meta.site.socLinkedIn %>/" icon="logoLinkedin" /><% } %>
