<c:page-start>
  <title><%= frontMatter.title ?? page.title %></title>
</c:page-start>
<c:container margin="y-5">
  <c:grid-row dim="width:100">
    <c:grid-col col="1-md 2-lg"></c:grid-col>
    <c:grid-col col="10-md 8-lg">
      <c:heading margin="bottom-4" text="align:center" type="3-display" content="<%= frontMatter.title ?? page.title %>" />
      <!-- body -->
      <c:include resource="sumba.template:/partial/layout/footer.html" />
    </c:grid-col>
    <c:grid-col col="1-md 2-lg"></c:grid-col>
  </c:grid-row>
</c:container>
<c:page-end/>
