<c:page-start title="<%= page.fullTitle %>" />
<c:main>
  <c:include resource="sumba.template:/partial/layout/sidebar.html" />
  <c:div style="margin-left:3.5rem">
    <c:include resource="sumba.template:/partial/layout/navbar.html" />
    <c:include resource="sumba.template:/partial/layout/breadcrumb.html" />
    <c:container margin="start-0 bottom-5" padding="x-3">
      <c:div style="max-width: 992px;">
        <!-- body -->
        <c:include resource="sumba.template:/partial/layout/footer.html" />
      </c:div>
    </c:container>
  </c:div>
</c:main>
<c:page-end back-to-top />
