<c:page-start />
<c:main flex>
  <!-- include sumba.partial:/layout/sidebar.html -->
  <c:div flex="fill column">
    <!-- include sumba.partial:/layout/navbar.html -->
    <!-- include sumba.partial:/layout/breadcrumb.html -->
    <c:container margin="start-0 bottom-5" padding="x-3">
      <c:div style="max-width: 992px;">
        <!-- body -->
        <!-- include sumba.partial:/layout/footer.html -->
      </c:div>
    </c:container>
  </c:div>
</c:main>
<c:page-end back-to-top/>
