<% if (_meta.user) { %>
<c:list-item href="sumba:/my-stuff/profile" t:content="Your Profile" />
<c:list-item href="sumba:/my-stuff/change-password" t:content="Change Password" />
  <% if (attr.withSignout) { %>
  <c:list-item href="sumba:/signout" t:content="Signout" />
  <% } %>
<% } else { %>
<c:list-item href="sumba:/signin" t:content="Signin" />
<c:list-item href="sumba:/user/signup" t:content="New User Signup" />
<c:list-item href="sumba:/user/forgot-password" t:content="Forgot Password" />
<% } %>
