---
t:title: Change Password
---
<c:form button reset-validation referer>
  <c:form-password name="currentPassword" label-floating wrapper-margin="bottom-2" />
  <c:form-password name="newPassword" label-floating wrapper-margin="bottom-2" />
  <c:form-password name="verifyNewPassword" label-floating wrapper-margin="bottom-3" />
</c:form>
<c:list type="unstyled" margin="start-3">
  <c:include resource="sumba.template:/partial/list-item/your-profile.html" />
  <c:include resource="sumba.template:/partial/list-item/signout.html" />
  <c:include resource="sumba.template:/partial/list-item/goto-home.html" />
</c:list>
