---
t:title: Change Password
---
<c:form button reset-validation referer>
  <c:form-password name="currentPassword" label-floating wrapper-margin="bottom-2" />
  <c:form-password name="newPassword" label-floating wrapper-margin="bottom-2" />
  <c:form-password name="verifyNewPassword" label-floating wrapper-margin="bottom-3" />
</c:form>
<c:list type="unstyled" margin="start-3">
  <c:list-item t:content="Your Profile" href="sumba:/profile" icon="person"/>
  <c:list-item t:content="Signout" href="sumba:/signout" icon="key"/>
  <c:list-item t:content="Goto Home" href="/" icon="house"/>
</c:list>
