---
t:title: Change Password
layout: sumba.layout:/wide.html
---
<c:grid-row>
  <c:grid-col col="6-md">
    <c:form button reset-validation referer>
      <c:form-password name="currentPassword" label-floating wrapper-margin="bottom-2" />
      <c:form-password name="newPassword" label-floating wrapper-margin="bottom-2" />
      <c:form-password name="verifyNewPassword" label-floating wrapper-margin="bottom-3" />
    </c:form>
  </c:grid-col>
  <c:grid-col col="6-md">

  </c:grid-col>
</c:grid-row>
