<div class="test">
  <div id="id1"></div>
</div>

<table x-data="{
  selected: [],
  toggle (id) {
    if (this.selected.includes(id)) {
      const idx = this.selected.indexOf(id)
      this.selected.splice(idx, 1)
    } else this.selected.push(id)
  }
}" x-init="$watch('selected', val => console.log(val))">
  <thead>
    <tr>
      <th><input type="checkbox" /></th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr @click="toggle('john')">
      <td><input x-model="selected" type="checkbox" value="john"/></td>
      <td>John</td>
    </tr>
    <tr @click="toggle('jane')">
      <td><input x-model="selected" type="checkbox" value="jane"/></td>
      <td>Jane</td>
    </tr>
  </tbody>
</table>