<c:p t:content="signoutWarning" />
<c:form method="POST" action="sumba:/signout" referer>
  <c:btn color="primary" t:content="signoutNow" type="submit" />
</c:form>
<% if (!page.noLinks) { %>
<c:div move-to="#footer" flex="justify-content:center">
  <c:nav type="inline">
    <!-- include sumba.partial:/list-item/your-profile.html -->
    <!-- include sumba.partial:/list-item/change-password.html -->
    <!-- include sumba.partial:/list-item/goto-home.html -->
  </c:nav>
</c:div>
<% } %>