{% extends 'bajoWebMpa:/layout/default' %}

{% block body %}
{% cmp 'h3', displayHeading=3, margin='bottom3' %}{{ 'Change Password'|t }}{% endcmp %}
{% cmp 'row' %}
  {% include 'sumba:/partial/pp' %}
  {% cmp 'col', columns='small:7,medium:8' %}
    {% cmp 'form', method='POST', action=routePath('sumba:/profile'), margin='bottom3' %}
      {% cmp 'fieldset', labelFloating=true, margin='bottom3', options=[
          { widget: 'formPlaintext', name: 'createdAt', col: 'small:6', type: 'datetime' },
          { widget: 'formPlaintext', name: 'updatedAt', col: 'small:6', type: 'datetime' },
          { widget: 'formPlaintext', name: 'username', col: ':12' },
          'firstName', 'lastName'
        ] %}{% endcmp %}
      {% cmp 'div', display='flex', justifyContent='end' %}
        {% include 'bajoWebMpa:/partial/reset-submit' %}
      {% endcmp %}
    {% endcmp %}
  {% endcmp %}
{% endcmp %}
{% endblock %}

{% block css %}{% endblock %}
{% block script %}{% endblock %}