{% extends 'bajoWebMpa:/layout/center' %}

{% block body %}
{% cmp 'h3', displayHeading=3, margin='bottom3' %}{{ 'Signup'|t }}{% endcmp %}
{{ result|dump }}
{% endblock %}

{% block css %}{% endblock %}
{% block script %}{% endblock %}