{% extends 'bajoWebMpa:/layout/center' %}

{% block body %}
{% cmp 'h3', displayHeading=3, margin='bottom3' %}{{ 'Signin'|t }}{% endcmp %}
{% cmp 'form', text='start', method='POST', action=routePath('sumba:/signin'), margin='bottom3' %}
  {% cmp 'input', type='hidden', name='referer', value=form.referer %}{% endcmp %}
  {% cmp 'formInput', name='username', value=form.username, labelFloating=true, error=error|getMessage('username') %}{% endcmp %}
  {% cmp 'formInput', type='password', name='password', labelFloating=true, error=error|getMessage('password') %}{% endcmp %}
  {% cmp 'div', display='flex', justifyContent='between' %}
    {% cmp 'div', display='flex' %}
    {% cmp 'button', tag='a', variant='link', href=routePath('sumba:/signup') %}{{ 'Signup'|t }}{% endcmp %}
    {% cmp 'spacer' %}{% endcmp %}
    {% cmp 'button', tag='a', variant='link', href=routePath('sumba:/forgot-password') %}{{ 'Forgot Password'|t }}{% endcmp %}
    {% endcmp %}
    {% cmp 'button', variant='primary', type='submit' %}{{ 'Submit'|t }}{% endcmp %}
  {% endcmp %}
{% endcmp %}
{% endblock %}

{% block css %}{% endblock %}
{% block script %}{% endblock %}