<c:form button reset-validation>
  <c:form-plaintext name="apiKey" label-floating wrapper-margin="bottom-2" />
  <c:form-password name="password" label-floating wrapper-margin="bottom-3" />
</c:form>
<% if (!page.noLinks) { %>
<c:list type="unstyled" margin="start-3">
  <c:include resource="sumba.partial:/list-item/your-profile.html" />
  <c:include resource="sumba.partial:/list-item/change-password.html" />
  <c:include resource="sumba.partial:/list-item/signout.html" />
  <c:include resource="sumba.partial:/list-item/goto-home.html" />
</c:list>
<% } %>