{% extends 'bajoWebMpa:/layout/center' %}

{% block body %}
{% cmp 'h3', displayHeading=3, margin='bottom3' %}{{ 'Activation'|t }}{% endcmp %}
{% cmp 'form', text='start', method='GET', action=routePath('sumba:/activation'), margin='bottom3', style='min-width:400px' %}
  {% cmp 'formInput', name='key', value=form.key, labelFloating=true, error=error|getMessage('key') %}{% endcmp %}
  {% cmp 'div', display='flex', justifyContent='between' %}
    {% cmp 'div', display='flex' %}
    {% cmp 'button', tag='a', variant='link', href=routePath('sumba:/signin') %}{{ 'Signin'|t }}{% endcmp %}
    {% cmp 'spacer' %}{% endcmp %}
    {% cmp 'button', tag='a', variant='link', href=routePath('sumba:/signup') %}{{ 'Signup'|t }}{% endcmp %}
    {% endcmp %}
    {% cmp 'button', variant='primary', type='submit' %}{{ 'Submit'|t }}{% endcmp %}
  {% endcmp %}
{% endcmp %}
{% endblock %}

{% block css %}{% endblock %}
{% block script %}{% endblock %}