{% extends 'bajoWebMpaAdminlte:/layout/default' %}

{% block body %}
logout
<form method="POST">
  <input type="hidden" name="_" value="_" />
  <button type="submit">Submit</button>
</form>
{% endblock %}
