{% extends 'bajoWebMpa:/layout/default' %}

{% block body %}
{% cmp 'h3', displayHeading=3, margin='bottom3' %}{{ 'My Profile'|t }}{% endcmp %}
{% cmp 'row' %}
  {% cmp 'column', columns='small:6,medium:4' %}
  {% endcmp %}
  {% cmp 'column', columns='small:6,medium:8' %}
    {% cmp 'form', text='start', method='POST', action=routePath('sumba:/signin'), margin='bottom3' %}
      {% cmp 'input', type='hidden', name='referer', value=form.referer %}{% endcmp %}
      {% cmp 'formInput', name='username', value=form.username, labelFloating=true, error=error|getMessage('username') %}{% endcmp %}
      {% cmp 'formInput', type='password', name='password', labelFloating=true, error=error|getMessage('password') %}{% endcmp %}
      {% cmp 'div', display='flex', justifyContent='end' %}
        {% cmp 'button', variant='link', type='reset', margin='end3' %}{{ 'Reset'|t }}{% endcmp %}
        {% cmp 'button', variant='primary', type='submit' %}{{ 'Submit'|t }}{% endcmp %}
      {% endcmp %}
    {% endcmp %}
  {% endcmp %}
{% endcmp %}
{% endblock %}

{% block css %}{% endblock %}
{% block script %}{% endblock %}