{% extends 'bajoWebMpaBootstrap:/layout/default' %}

{% block body %}
{% tag 'form' %}
  {% tag 'fieldset' %}
    {% tag 'formInput', labelFloating=true, placeholder='xxx', id='email', label='Email address', help='We\'ll never share your email with anyone else' %}{% endtag %}
    {% tag 'formTextarea', labelFloating=true, style='height:200px', id='ta', label='Textarea' %}{% endtag %}
    {% tag 'formColor', id='email', label='Color', value='#ff0000' %}{% endtag %}
    {% tag 'formDatalist', label='Datalist', id='dl', options={ siji: 'Siji', loro: 'Loro' }, help='heleeep' %}{% endtag %}
    {% tag 'formSelect', labelFloating=true, label='Select', id='sel', options=[{ value: 'siji' }, { value: 'loro', selected: true }], help='heleeep' %}{% endtag %}
    {% tag 'formCheck', id='checkOff', inline=true, label='1' %}{% endtag %}
    {% tag 'formCheck', id='checkOn', inline=true, label='2', checked=true, disabled=true %}{% endtag %}
    {% tag 'formRadio', name="radio", id='radioOff', label='Check me out!' %}{% endtag %}
    {% tag 'formRadio', name="radio", id='radioOn', label='Check me out too!', checked=true %}{% endtag %}
    {% tag 'formSwitch', reverse=true, name="switch", id='switch1', label='Switch', checked=true %}{% endtag %}
    {% tag 'formRange', value=20, min=10, max=80, step=0.5, label='Range', id='rangeid' %}{% endtag %}
    {% tag 'button', tag='a', disabled=true, variant='primary', outline=true, type='submit', sizing='big' %}Submit{% endtag %}
  {% endtag %}
{% endtag %}
{% endblock%}