<% if (_hasPlugin('masohiMail')) { %>
<c:form button reset-validation>
  <c:form-input name="usernameEmail" label-floating wrapper-margin="bottom-2" t:hint="linkPasswordWillbeSent"/>
</c:form>
<% } else { %>
<!-- include sumba.partial:/user/forgot-password-nomail.md -->
<% } %>
<% if (!page.noLinks) { %>
<c:list type="unstyled" margin="start-3">
  <!-- include sumba.partial:/list-item/signin.html -->
  <!-- include sumba.partial:/list-item/user-signup.html -->
  <!-- include sumba.partial:/list-item/goto-home.html -->
</c:list>
<% } %>