{% cmp 'col', columns='small:5,medium:4' %}
  {% cmp 'form', method='POST', action=routePath('sumba:/profile'), margin='bottom3', enctype='multipart/form-data' %}
    {% cmp 'card', margin='top2,bottom2', padding=2 %}
      {% cmp 'cardImage', src=virtualDir('bajoDb') + '/attachment/SumbaUser/' + _meta.user.id + '/profile/main.png' %}{% endcmp %}
    {% endcmp %}
    {% cmp 'formInput', type='file', name='profile', label=false, wrapperClass='mb-2', accept='image/png' %}{% endcmp %}
    {% cmp 'div', display='flex', justifyContent='end' %}
      {% cmp 'button', variant='secondary', sizing='small', type='submit' %}{{ 'Upload'|t }}{% endcmp %}
    {% endcmp %}
  {% endcmp %}
  {% cmp 'nav', flex='column' %}
    {% cmp 'navItem', href=routePath('sumba:/profile') %}{{ 'Your Profile'|t }}{% endcmp %}
    {% cmp 'navItem', href=routePath('sumba:/change-password') %}{{ 'Change Password'|t }}{% endcmp %}
    {% cmp 'navItem', href=routePath('sumba:/signout') %}{{ 'Signout'|t }}{% endcmp %}
  {% endcmp %}
{% endcmp %}
